
.rightSide{
    background-color: rgb(255, 255, 255);
}

.personalOut{
    display: grid;
    grid-template-rows: 50% 50%;
    font-size:large;
    background-color: rgb(165, 219, 239);
}
.NameOut{
    display: flex;
    gap:10px;
    align-self: center;
    justify-self: center;
    font-weight: 900;
    font-size:40px
}

.infoOut{
    display: flex;
    gap:10px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    justify-self: center
}

.header{
    width: 100%;
    height: 35px;
    background-color: rgb(201, 210, 230);
    text-align: center;
    font-size: 25px;
    font-weight: 700;
}
.educationOut{
    display: grid;
    grid-template-columns: 30% 50%;

    padding:10px;
    gap:20px

}
.heavy{
    font-weight: 800;
}
.job{
    display: flex;
    flex-direction: column;
    gap:10px;
    flex-wrap: nowrap;
}

.skillOut{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    gap:5px;
    text-align: center;
}