html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.Container {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: rgb(134, 119, 119);
  height: 100vh;
  width: 100vw;
}
